/* 样式初始化 */
html,
body,
ul,
p,
table,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
dl,
dt,
dd,
form,
input,
section,
article {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft yahei';
}


article {
    padding-left: 6px;
}

article>div:nth-child(1) {
    background-color: #888;
    color: #fff;
}

section {
    border-bottom: 2px solid #eee;
    overflow: hidden;
}

section h2 {
    background-color: #ddd;
    float: left;
    width: 100px;
    text-align: center;
    padding: 24px;
}

section p {
    float: left;
    line-height: 27px;
    width: 72%;
    padding-left: 10px;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

h1 {
    padding: 24px;
}

h2 {
    font-size: 20px;
}

.ti_key {
    font-weight: 600;
    margin-right: 10px;
}

.con_val {
    margin-right: 30px;
}

.item {
    overflow: hidden;
}

.item:nth-child(1) {
    margin-left: 148px;
}

.title {
    font-weight: bold;
}

.item p {
    font-size: 14px;
}

.item .title {
    width: 6%;
}

.item .desc {
    width: 92%;
}