/* 样式初始化 */
html,
body,
ul,
p,
table,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
dl,
dt,
dd,
form,
input,
section,
article {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft yahei';
}


article {
    overflow: auto;
    padding-left: 0;
    background: #23bbdd;
}

article>div:nth-child(1) {
    float: left;
    width: 15%;
    padding-top: 40px;
    text-align: center;
}

article>div:nth-child(2) {
    float: left;
    background: #fff;
    padding-left: 1%;
    width: 84%;
    padding-top: 30px;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

h1 {
    margin: 24px 0;
    font-size: 24px;
    color: #fff;
}

h2 {
    font-size: 20px;
}

p {
    margin: 24px 0;
}

.ti_key {
    font-weight: 600;
    margin-right: 10px;
}

.con_val {
    margin-right: 30px;
}

.item {
    margin: 24px 0;
}

.title {
    font-weight: bold;
}

.item p {
    font-size: 14px;
    margin: 0 0 4px;
}